<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Test your webpage</h2>

        <form ng-submit="getStatistic()">
          <div class="form-group">
            <label for="registration-id">URL</label>
            <input id="registration-id" ng-model="url" class="form-control" type="text" placeholder="Please enter a valid URL"/>
          </div>
          <div>
            <button type="submit" class="btn btn-primary pull-right">Send</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="statistics">
  <div class="col-lg-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><a ng-click="order='word'; reverse=!reverse" href="#">Word</a></th>
          <th><a ng-click="order='count'; reverse=!reverse" href="#">Count</a></th>
          <th><a ng-click="order='inHeadline'; reverse=!reverse" href="#">In h</a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="statistic in statistics | orderBy:order:reverse">
          <td>
            {{statistic.word}}
          </td>
          <td>
            {{statistic.count}}
          </td>
          <td>
            <span ng-if="statistic.inHeadline">X</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
